body{
  background: yellowgreen;
}

#menu{
 width:200px;
 background:yellow;
}
#menu a{
 color:#2b3845;
 text-decoration:none;
 display:block;
}
#menu a:hover{
 color:#92A9BF;
 background:blue;
}

h5{
 display:inline;
}

h6{
 display:list-item;
}

#p2{
 display:none;
}
#p4{
 visibility:hidden;
}
.divover{
    width:100px;
    height:100px;
}
.over{
  overflow: auto;

}
    